<ion-view view-title="Chatting">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" id="userName">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
    </div>
    <button class="button button-block button-positive" ng-click="chatJoin()">
      <i class="icon ion-home"></i> 들어가기
    </button>
  </ion-content>
</ion-view>
